<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- header -->
<div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-container" style="height: 60px;">
        <h2 class="w3-text-blue"><b class="w3-text-red">A</b><b class="w3-text-orange">R</b> Study Lab</h2>
    </div>
    <div class="w3-bar w3-xlarg w3-blue w3-opacity-min">
        <a href="" routerLink="home" class="w3-bar-item w3-button">Home</a>
        <a href="" routerLink="subject" class="w3-bar-item w3-button">Subject <span>+</span></a>
        <a href="" routerLink="member" class="w3-bar-item w3-button">Members</a>
        <a href="" routerLink="contact" class="w3-bar-item w3-button">Contact</a>
        <a href="" routerLink="login" class="w3-bar-item w3-button">Login</a>
    </div>
</div>
<img src="../logo.jpg" alt="" class="w3-display-bottomright w3-circle" style="width: 40px;">
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>